@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.background {
  width: 100%;
  height: 500px;
  background: url("/public/assets/jettBG.webp") top center;
  background-size: cover;
  background-position: 50%;
  background-size: cover;
  border-bottom-left-radius: 10rem;
}

.card-body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* PlayValorant Button */

.back-to-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.back-to-home a {
  width: 100%;
  max-width: 240px;
  height: 70px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.back-to-home a.white:hover > p {
  color: #ece8e1;
}
.back-to-home a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.back-to-home a.white > p span.base {
  border: 1px solid transparent;
}
.back-to-home a.transparent:hover > p {
  color: #ece8e1;
}
.back-to-home a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.back-to-home a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.back-to-home a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.back-to-home a:after,
.back-to-home a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.back-to-home a:before {
  right: 0;
  left: initial;
}
.back-to-home a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.back-to-home a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.back-to-home a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.back-to-home a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.back-to-home a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.back-to-home a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.back-to-home a:hover {
  color: #ece8e1;
}
.back-to-home a:hover span.bg {
  width: 110%;
}
.back-to-homev a:hover span.text:after {
  background: #ece8e1;
}

.clear-results {
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.clear-results a {
  width: 100%;
  max-width: 240px;
  height: 40px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
}
.clear-results a.white:hover > p {
  color: #ece8e1;
}
.clear-results a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.clear-results a.white > p span.base {
  border: 1px solid transparent;
}
.clear-results a.transparent:hover > p {
  color: #ece8e1;
}
.clear-results a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.clear-results a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.clear-results a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.clear-results a:after,
.clear-results a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.clear-results a:before {
  right: 0;
  left: initial;
}
.clear-results a p {
  margin: 0;
  line-height: 40px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.clear-results a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.clear-results a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.clear-results a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.clear-results a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.clear-results a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.clear-results a:hover {
  color: #ece8e1;
}
.clear-results a:hover span.bg {
  width: 110%;
}
.clear-results a:hover span.text:after {
  background: #ece8e1;
}
